<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,viewport-fit=cover">
    <title><%= config.title %></title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= config.title %>">
    <meta property="og:url" content="https://tcstory.github.io/blog">
    <meta property="og:locale" content="<%= config.language %>">
    <style>
        * {
            box-sizing: border-box;
        }
        body {
           font-family: "Songti SC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
            background-color: #f9f9f9;
            padding: 8px 12px;
        }
        .article-list {
            max-width: 640px;
            margin: auto;
        }
        .article-header > a {
            text-decoration: none;
        }
        .article-header > a:visited {
            color: #4285d3;
        }
        .article-header .title {
            font-size: 20px;
            color: #4285d3;
        }
        .article-header .title .text {
            font-weight: bold;
        }

        .article-content {
            max-width: 640px;
            margin: auto;
        }
    </style>
    <%- css('style/header') %>
    <%- css('style/highlight') %>
</head>
<body>
<%- body %>
</body>
</html>